body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#141313, #3c4ae6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}   
.banner-text {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
nav ul li {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
}
nav ul li:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 24px rgb(55, 17, 132);
    text-decoration: none;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: #820d9c;
}

.main-container {
    width: 80%;
    background: #000000;
    border-radius: 20px;
    border: 2px solid #333;
    box-shadow: 0px 0 px 4px #000000;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 35px;
}
#card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.music-card {
    color: #fff;
    background-color:#0f0061;
    width: 400px;
    height: auto;;
    border-radius: 15px;
    box-shadow: #900d9c 0px 0px 2px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
    position: relative;
}
.music-card:hover, .playlist-cover:hover, .song-row:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 24px rgb(208, 202, 220);
}
.card-img-container {
    padding: 10px;
    box-sizing: border-box;
}
.card-img-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}
.like-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.music-card img.like-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.like-count {
    font-size: 18px;
}
.modal {
    /* Overlay styles */
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.4);
    display: none;  /* appear modal -> block */
    z-index: 1000;
}
.modal.show {
    display: block;
}
.modal-content {
    width: 85vw;
    max-width: 1000px;
    min-width: 300px;
    min-height: auto;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1903a9;
    border-radius: 15px;
    box-shadow: 0 4px 24px #656d83;
    padding: 32px;
    color: #fff;
}
.featured-content {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 65px;
    width: 100%;
    max-width: 1400px;
    min-height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 24px #656d83;
    padding: 32px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.featured-content .song-list {
    width: 60%;
    max-width: 100%;
    overflow: none;
    box-sizing: border-box;
    margin: 0;
}
.featured-content .playlist-header {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}
.playlist-header .playlist-cover {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 24px;
    background: #eee;
}
.modal-content h2, .playlist-header h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 35px;
}
.modal-content p {
    font-size: 20px;
}
#shuffle {
    width: 48px;
    height: 48px;
    background-image: url("assets/img/shuffle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#shuffle:hover {
    transform: translateY(-3px) scale(1.03);
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 24px;
}
.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* playlist header */
.playlist-header {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}
.playlist-cover {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
    background: #eee;
}
.playlist-info {
    flex: 1;
}
/* song list */
.song-list {
    margin-top: 16px;
}
.song-row {
    display: flex;
    align-items: center;
    background: #5173ff;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 12px 15px;
    margin-bottom: 18px;
    gap: 18px; /* btwn img n song info */
}
.song-thumb {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 15px;
    background: #eee;
}
.song-meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.song-title {
    font-weight: bold;
    font-size: 1.1rem;
}
.song-artist, .song-album {
    font-size: 0.95;
}
.song-duration {
    font-size: 1rem;
    margin-left: 50px;
}
footer {
    display: flex;
    justify-content: center;
    color: #eee;
}
@media (max-width: 900px) {
  .featured-content {
    flex-direction: column;
    align-items: center;
  }
  .featured-content .playlist-header,
  .featured-content .song-list {
    width: 100%;
    max-width: 100%;
  }
  .playlist-header {
    margin-bottom: 32px;
    align-items: center;
  }
}